.container {
    padding: 50px;
}

.title {
    text-align: center;
}

h1 {
    padding: 25px 0px;
}

.home-button {
    background-color: #9c1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: max-content; /*Used to enclose items if flex direction is not columnar*/
    height: max-content;
    font-size: 21px;
    font-weight: bold;
    color: white;
    border: 2px solid #020e13;
    border-radius: 7px;
    text-shadow: 0 0 3px #020e13;
    transition: 1s;
    transition-property: background-color, box-shadow;
}
.home-button:hover {
    background-color: #DF2D2D;
    box-shadow: 0 0 3px #FF3333;
    border: 2px solid #020e13;
    font-size: 21px;
    color: white;
}

.rules {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    max-width: 80%;
}

ol, ul {
    padding: 0px 50px;
    max-width: 80%;
}

li {
    padding: 10px 0px;
}

p {
    max-width: 80%;
}

.paragraphs {
    padding-bottom: 25px;
}

img {
    padding: 10px 50px;
}

.locations {
    width: 650px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

img {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

button {
    background-color: #2698BF;
    border-radius: 0px;
    border: 1px solid #134C60;
    color: white;
    font-size: 14px;
} 

button:hover {
    font-size: 14px;
    background-color: white;
    color: #061920;
    border: 1px solid white;
}

p {
    max-width: 85%;
}